.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.weather-card {
    background-color: #4D99E9;
    margin-top: 100px;
    margin-right: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    width: 150px;
    height: 300px;
    border-style: double;
    border-radius: 15px;
    border-color: white;
}

.weather-icon {
    width: 100px;
    height: 100px;
}

div {
    margin-bottom: 5px;
}