.search {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-inp {
    border-radius: 8px;
    height: 20px;
}

.search-btn {
    margin-left: 10px;
    border: none;
    border-radius: 15px;
    align-items: center;
    height: 30px;
}